*~
doc/generated
examples/.ipynb_checkpoints
venv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# scikit-learn specific
doc/_build/
doc/auto_examples/
doc/modules/generated/
doc/datasets/generated/

# Some stuff from testing?
tests/files/org/openml/test/datasets/1/
tests/files/org/openml/test/datasets/2/features.xml.pkl
tests/files/org/openml/test/datasets/2/qualities.xml.pkl
tests/files/org/openml/test/locks/
tests/files/org/openml/test/tasks/1/datasplits.pkl.py3
tests/files/org/openml/test/tasks/1882/datasplits.pkl.py3

# Distribution / packaging

.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
cover
coverage
htmlcov
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
prof/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IDE
.idea
*.swp
.vscode

# MYPY
.mypy_cache
dmypy.json
dmypy.sock

# Tests
.pytest_cache
