default_language_version:
  python: python3
files: |
  (?x)^(
    openml|
    tests
  )/.*\.py$
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.14
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix, --no-cache]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies:
          - types-requests
          - types-python-dateutil
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-workflows
        files: '^github/workflows/.*\.ya?ml$'
        types: ["yaml"]
      - id: check-dependabot
        files: '^\.github/dependabot\.ya?ml$'
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        files: ".*"
      - id: check-case-conflict
        files: ".*"
      - id: check-merge-conflict
        files: ".*"
      - id: check-yaml
        files: ".*"
      - id: end-of-file-fixer
        files: ".*"
        types: ["yaml"]
      - id: check-toml
        files: ".*"
        types: ["toml"]
      - id: debug-statements
        files: '^src/.*\.py$'
