clone_folder: C:\\projects\\openml-python

environment:
# global:
#     CMD_IN_ENV: "cmd /E:ON /V:ON /C .\\appveyor\\scikit-learn-contrib\\run_with_env.cmd"

 matrix:
    - PYTHON: "C:\\Python3-x64"
      PYTHON_VERSION: "3.6"
      PYTHON_ARCH: "64"
      MINICONDA: "C:\\Miniconda36-x64"

matrix:
    fast_finish: true


install:
  # Miniconda is pre-installed in the worker build
  - "SET PATH=%MINICONDA%;%MINICONDA%\\Scripts;%PATH%"
  - "python -m pip install -U pip"

  # Check that we have the expected version and architecture for Python
  - "python --version"
  - "python -c \"import struct; print(struct.calcsize('P') * 8)\""
  - "pip --version"

  # Remove cygwin because it clashes with conda
  # see http://help.appveyor.com/discussions/problems/3712-git-remote-https-seems-to-be-broken
  - rmdir C:\\cygwin /s /q

  # Update previous packages and install the build and runtime dependencies of the project.
  - conda update conda --yes
  - conda update --all --yes

  # Install the build and runtime dependencies of the project.
  - "cd C:\\projects\\openml-python"
  - "pip install .[examples,test]"
  - "pip install scikit-learn==0.21"
  # Uninstall coverage, as it leads to an error on appveyor
  - "pip uninstall -y pytest-cov"


# Not a .NET project, we build scikit-learn in the install step instead
build: false

test_script:
  - "cd C:\\projects\\openml-python"
  - "%CMD_IN_ENV% pytest -n 4 --timeout=600 --timeout-method=thread --dist load -sv"
