name: release-docker

on:
  push:
    branches:
      - 'main'
      - 'develop'
      - 'docker'

jobs:

  docker:

    runs-on: ubuntu-latest

    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Extract metadata (tags, labels) for Docker Hub
        id: meta_dockerhub
        uses: docker/metadata-action@v4
        with:
          images: "openml/openml-python"

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v4
        with:
          context: ./docker/
          push: true
          tags: ${{ steps.meta_dockerhub.outputs.tags }}
          labels: ${{ steps.meta_dockerhub.outputs.labels }}
          platforms: linux/amd64,linux/arm64
          
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
